<div class="h-screen">
  <header class="bg-white shadow">
    <div
      class="flex items-baseline justify-between max-w-6xl px-4 py-6 mx-auto sm:px-6 lg:px-8"
    >
      <div class="flex items-center">
        <h1 class="pr-2 text-3xl font-bold leading-tight text-gray-900">
          {{args.plan.title}}
        </h1>
        <Badge @text={{args.plan.status}} />
      </div>
      {{#if isEditing}}
        <button
          class="btn btn-blue"
          disabled={{isSaveDisabled}}
          {{on "click" (fn this.save)}}
        >
          Save
        </button>
      {{else}}
        <button class="btn btn-blue" {{on "click" (fn this.edit)}}>
          Edit
        </button>
      {{/if}}
    </div>
  </header>
  <main class="h-full bg-gray-100">
    <div class="max-w-6xl py-6 mx-auto sm:px-6 lg:px-8">
      <h2>
        Details
      </h2>
    </div>
    <div class="max-w-6xl py-6 mx-auto sm:px-6 lg:px-8">
      <h2 class="leading-tight text-gray-900 underline">
        Overview
      </h2>
      <br />
      <div id="overview-body" class="pt-4 bg-white">
        {{#if isEditing}}
          <TuiEditor
            @value={{args.plan.overview}}
            @onChange={{fn (mut args.plan.overview)}}
          />
        {{else}}
          {{markdown-to-html args.plan.overview}}
        {{/if}}
      </div>
    </div>
    <div class="max-w-6xl py-6 mx-auto sm:px-6 lg:px-8">
      <h2 class="leading-tight text-gray-900 underline">
        Rollback Plan
      </h2>
      <br />
      <div id="overview-body" class="pt-4 bg-white">
        {{#if isEditing}}
          <TuiEditor
            @value={{args.plan.rollbackPlan}}
            @onChange={{fn (mut args.plan.rollbackPlan)}}
          />
        {{else}}
          {{markdown-to-html args.plan.rollbackPlan}}
        {{/if}}
      </div>
    </div>
  </main>
</div>